<!DOCTYPE html>
<html>

<head></head>
<title></title>

<body>
    <img src="../../../{{pic_url}}"><br>
    <button><a href='bl/'>bw</a></button>
    <form action="{{rotate_url}}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="deg" id="deg">
        <input type="submit" value="rotate" name="submit">
    </form>
    <form action="{{resize_url}}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        height:<input type="text" name="h_size" id="h_size">
        width:<input type="text" name="w_size" id="w_size">        
        <input type="submit" value="resize" name="submit">
    </form>
    <form action="{{crop_url}}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        x1:<input type="text" name="x1" id="x1">
        y1:<input type="text" name="y1" id="y1">
        x2:<input type="text" name="x2" id="x2">
        y2:<input type="text" name="y2" id="y2">
        <input type="submit" value="crop" name="submit">
    </form>
</body>

</html>